{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Auctions{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <h1>Auctions</h1>
        <div>
            {% if user.is_authenticated %}
                Signed in as <strong>{{ user.username }}</strong>.
            {% else %}
                Not signed in.
            {% endif %}
        </div>
            <ul class="nav">
                <div class="p-2 bd-highlight" id="index">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">Active Listings</a>
                    </li>
                </div>
                {% if user.is_authenticated %}
                    <div class="p-2 bd-highlight" id="cat">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'categories' %}">Categories</a>
                        </li>
                    </div>
                    <div class="p-2 bd-highlight" id="wlst">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'watchlist' %}">Watchlist</a>
                        </li>
                    </div>
                    <div class="p-2 bd-highlight" id="cl">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'create' %}">Create Listing</a>
                        </li>
                    </div>
                    <div class="ml-auto p-2 bd-highlight">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">
                                <button type="button" class="btn btn-outline-danger">Log Out</button>
                            </a>
                        </li>
                    </div>
                {% else %}
                    <div class="p-2 bd-highlight" id="login">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">
                                <button type="button" class="btn btn-outline-success">Log In</button>
                            </a>
                        </li>
                    </div>
                    <div class="p-2 bd-highlight">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'register' %}">
                                <button type="button" class="btn btn-outline-primary">Register</button>
                            </a>
                        </li>
                    </div>
                {% endif %}
            </ul>
        <hr>
        {% block body %}
        {% endblock %}
    </body>
</html>
